<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.IntentionXzlMapper">
	
	 <insert id="insertIntentionXzl" >
           insert into intention_xzl(id,questionnaire_id,xzl_id,status) 
               values(#{id},#{questionnaire_id},#{xzl_id},#{status})
   </insert>
	
</mapper>
