<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.XzlMapper">
	
	<select id="findXzl" resultType="xzl" >
		SELECT * FROM xzl WHERE area LIKE  #{0}   AND title LIKE   #{1} 
		
	</select>
</mapper>
